.not-found{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  h1{
    font-size: 2rem;
    padding: 0 2rem;
    border-right: 0.05rem solid var(--text);
  }
  p{
    font-size: 2rem;
    padding: 0 2rem;
    border-left: 0.05rem solid var(--text);
  }
}