@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
  --primary: #14b007;
  --secondary: #f0f087;
  --tertiary: #49f020;
  --bg-color: #20232a;
  --bg-color-light: #3d3e43;
  --success: #00ff00;
  --danger: #ff0000;
  --pink: #ff71ff;
  --blue: #5f8aff;
  --text: #fff;
  --text-light: #ccc;
  --text-dark: #1E1E1E;
  --text-dark-light: #333;
  --rounded-xsm: 5px;
  --rounded-sm: 1rem;
  --rounded: 2rem;
  --rounded-lg: 3rem;
  --rounded-xl: 4rem;
  --rounded-2xl: 5rem;
  --rounded-full: 100%;
  --shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  --shadow-lg: 0 0 1rem 0 rgba(0, 0, 0, 0.5);
  --shadow-xl: 0 0 1rem 0 rgba(0, 0, 0, 0.8);
  --transition: all 0.3s ease-in-out;
  --xsm: 200px;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --2xl: 1400px;
  --3xl: 1600px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  font-family: 'Poppins', sans-serif;
  color: var(--text);
  background-color: var(--bg-color);
  height: 100%;
}